//#login(ng-style="{'background-image':'url(' + vm.backgroundImage + ')'}", layout="column", flex)
#login(layout="column" flex)
	span(flex="20")
	div(layout="row" flex="40" layout-align="center start")
		div(flex="15" layout="column")
			.md-whiteframe-1dp
				md-toolbar.md-primary
					.md-toolbar-tools

				#loginContainer(layout="column", flex)
					md-input-container.md-block(md-no-float)
						input(type='text', ng-model='vm.user.username', placeholder='Username', ng-required, autofocus ng-keypress="vm.login($event)")
					md-input-container(md-no-float)
						input(type='password', ng-model='vm.user.password', placeholder='Password', ng-required ng-keypress="vm.login($event)")
					div(layout="row", layout-align="space-between" flex="none")
						md-button.md-accent.md-raised(ng-click="vm.login()" flex="none") Log In
						h2.md-subhead#loginVersion Version: {{vm.version}}
					h4#loginError {{vm.errorMessage}}

	div(layout="row" layout-align="center center" flex="40")
		div
			img(ng-src="{{vm.enterpriseLogo}}" flex style="max-width:100%; height: auto")
