<!DOCTYPE html>
<html lang="en" ng-app="3drepo" class="fullheight">
	<head>
		<base href="/">
		<!-- Meta, title, CSS, favicons, etc.-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>3D Repo</title>
		<script type="text/javascript" src="/public/plugins/base/config.js"></script>
		<!-- CSS Files-->
		<link rel="stylesheet" type="text/css" href="/public/css/external/x3dom.css">
		<link rel="stylesheet" type="text/css" href="/public/css/external/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="/public/css/ui.css">
		<link rel="stylesheet" type="text/css" href="/public/css/external/three-d-repo.css">
		<!-- JS Files-->
		<script type="text/javascript" src="/public/js/external/x3dom.js"></script>
		<script type="text/javascript" src="/public/js/external/angular.js"></script>
		<script type="text/javascript" src="/public/js/external/angular-ui-utils.min.js"></script>
		<script type="text/javascript" src="/public/js/external/angular-ui-router.js"></script>
		<!-- Predefine the app-->
		<script>
		angular.module('3drepo', ['ui.router'])
		.constant('structure', {"plugin":"base","children":[{"plugin":"login","children":[{"plugin":"account","children":[{"plugin":"project","friends":["panel","filter","tree","viewpoints","issues","oculus","clip","bottomButtons","qrCodeReader","docs","utils","walkthroughVr"]}]}]}]})
		.constant('parentStates', {"base":[""],"login":["base"],"account":["base.login"],"project":["base.login.account"],"panel":["base.login.account"],"filter":["base.login.account"],"tree":["base.login.account"],"viewpoints":["base.login.account"],"issues":["base.login.account"],"oculus":["base.login.account"],"clip":["base.login.account"],"bottomButtons":["base.login.account"],"qrCodeReader":["base.login.account"],"docs":["base.login.account"],"utils":["base.login.account"],"walkthroughVr":["base.login.account"]})
		//.constant('pluginLevels', )
		.constant('uiState', {"base.login.account.project":["oculus"]});
		
		</script>
		<script type="text/javascript" src="/public/dist/three_d_repo.js"></script>
	</head>
	<body class="fullheight">
		<div ng-controller="VRDemoCtrl" class="fullheight">
			<auto-login account="username" password="password" />
			<div ng-if="showMenu" class="fullheight">
				<div class="VRDemoMenuItem" ng-click="goDemoOne($event)">Demo 1</div>
				<div class="VRDemoMenuItem" ng-click="goDemoTwo($event)">Demo 2</div>
				<div class="VRDemoMenuItem" ng-click="goDemoThree($event)">Demo 3</div>
			</div>
			<div ng-if="demoOne">
				<viewer manager="manager" account="demo" project="demo1" branch="master" revision="head" class="project-viewport viewport" auto-init vr-mode />
				<walkthrough account="demo" project="demo1" disable-interaction auto-play=0></walkthrough>
			</div>
			<div ng-if="demoTwo">
				<viewer manager="manager" account="demo" project="demo2" branch="master" revision="head" class="project-viewport viewport" auto-init vr-mode />
				<walkthrough account="demo" project="demo2" disable-interaction auto-play=0></walkthrough>			
			</div>
			<div ng-if="demoThree">
				<viewer manager="manager" account="demo" project="demo3" branch="master" revision="head" class="project-viewport viewport" auto-init vr-mode />
				<walkthrough account="demo" project="demo3" disable-interaction auto-play=0></walkthrough>			
			</div>
		</div>
	</body>
</html>
