div(ng-if="!vm.data")
    canvas#issueAreaCanvas(style="pointer-events:{{vm.canvasPointerEvents}}")
    md-icon#issueAreaPenIndicator(class="fa fa-circle-thin", ng-show="vm.showPenIndicator")

    svg#issueAreaCentre(height="40", width="40")
        line(x1="0", y1="20", x2="40", y2="20", style="stroke:rgb(255,255,255);stroke-width:2")
        line(x1="20", y1="0", x2="20", y2="40", style="stroke:rgb(255,255,255);stroke-width:2")

#scribbleDisplay(ng-if="vm.data")
    img(ng-src="{{vm.scribble}}")

#issueAreaTools(style="pointer-events:{{vm.pointerEvents}}", layout="row", ng-show="vm.showAreaTools")
    md-button.md-accent.md-fab.md-mini(ng-click="vm.setPenSize('small')")
        md-icon.angular-material-icons#issueAreaSmallPen mode_edit
    md-button.md-accent.md-fab.md-mini(ng-click="vm.setPenSize('medium')")
        md-icon.angular-material-icons#issueAreaMediumPen mode_edit
    md-button.md-accent.md-fab.md-mini(ng-click="vm.setPenSize('large')")
        md-icon.angular-material-icons mode_edit
    span#issueAreaToolsDivider(flex)
    md-button.md-accent.md-fab.md-mini(ng-click="vm.reset()")
        md-icon.angular-material-icons clear