div(layout="column" layout-align="start")
	.accountProfileUserInfo(layout="row" flex="50")
		div(flex="45" layout-align="start")
			md-input-container.md-block
				label {{"Username" | translate}}
				input(ng-model="vm.username" ng-disabled="true")
			div(layout="row" layout-align="space-between")
				md-input-container.md-block(flex="45")
					label {{"First name" | translate}}
					input(ng-model="vm.firstName")
				md-input-container.md-block(flex="45")
					label {{"Last name" | translate}}
					input(ng-model="vm.lastName")
			md-input-container.md-block
				label {{"Email" | translate}}
				input(ng-model="vm.email", type="email")
			div(layout="row", layout-align="start center")
				md-button.md-accent(ng-click="vm.updateInfo()") Update
				p {{vm.infoSaveInfo}}

		span(flex="5")

		div(flex="45")
			md-input-container.md-block
				label Old password
				input(ng-model="vm.oldPassword", type="password")
			md-input-container.md-block
				label New password
				input(ng-model="vm.newPassword", type="password")
			div(layout="row", layout-align="start center")
				md-button.md-accent(ng-click="vm.updatePassword()") Update
				p {{vm.passwordSaveInfo}}

	md-divider

	span(flex="5")

	div(flex="30" layout="column" layout-align="start")
		md-input-container
			label {{"Language" | translate}}
			md-select(ng-model="vm.language" flex="20")
				md-option(value="en") English
				md-option(value="sk") Slovak