div(ui-tree-handle class="tree-node tree-node-content")
	a(class="btn btn-primary btn-xs", ng-if="tn.showCollapseButton", ng-click="tn.toggle()")
		span(class="glyphicon", ng-class="{'glyphicon-chevron-right': tn.collapsed, 'glyphicon-chevron-down': !tn.collapsed}")
	label {{tn.node.name}}
	a(class="pull-right btn btn-off btn-xs", style="margin-right: 8px;")
		span(class="glyphicon glyphicon-off")
